body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(30, 26, 108);
    color: azure;
    text-align: center;
}

img {
    height: 200px;
    width: 120px;
}

#rock, #paper, #scissors{
    padding: 0;
    margin: 10px;
}

div#head {
    display: flex;
    flex-direction: column;
}

div#rpsChoice {
    justify-content: space-evenly;
    display: flex;
}

button{
    border: 0px;
    background-color:  rgb(30, 26, 108);
}

button :hover {
    filter: drop-shadow(5px 5px 5px white);
    transform: scale(0.96);
}