body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    height: 200px;
    width: 120px;
}

#rock, #paper, #scissors{
    padding: 0;
    margin: 10px;
}

div#head {
    display: flex;
    flex-direction: column;
}

div#rpsChoice {
    justify-content: space-evenly;
    display: flex;
}

button{
    border: 0px;
}